<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for purchasing from Jungle!  Your Order ID is <%= @order.id %></h1>
    <p>
      Your order is $<%= @order.total_cents / 100 %>.<%= @order.total_cents % 100 %><br>
    </p>
    <ul>
      <% @products.each_with_index do |item|%>
        <li><%= item.quantity%> <%= item.product.name %>, each one costs $<%= item.total_price.to_f / 100 %></li>        
      <% end %>
    </ul>
    <p>Thank you for your purchase, please visit us again!</p>
  </body>
</html> 